thead > td:hover {
  text-decoration: underline;
  cursor: pointer;
}

td {
  cursor: default;
}

input {
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
}

thead > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.perPage {
  border-top: none;
  border-bottom: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.table {
  margin-bottom: 0;
}

.pageSelector {
  border-top: none;
}

.perPage:first-child {
  background-color: red;
}

.pageSelector:first-child {
  background-color: red;
}
